@using Frontend_Project.ViewModel.Assignment
@model RoundCodeAssignmentIndexVM
@{
}

<div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="exampleModalLabel">Add Record</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" onclick="closeFom()"></button>
</div>
<div class="offcanvas-body flex-grow-1">


    <form class="add-new-record pt-0 row g-2 fv-plugins-bootstrap5 fv-plugins-framework" id="form-add-new-record" asp-action="Add" asp-controller="Assignment" method="post" a novalidate="novalidate">
        @Html.HiddenFor(x=>x.EditRoundCodeAssignmentVM.AssignmentID)

        <div class="col-sm-12 fv-plugins-icon-container">
            <label class="form-label" for="basicFullname"> Round Code </label>
            <div class="input-group input-group-merge has-validation">
                <span id="basicFullname2" class="input-group-text"><i class='bx bxs-school'></i></span>
                <input type="text" asp-for="EditRoundCodeAssignmentVM.RoundCode" class="form-control dt-full-name" placeholder="John Doe" aria-label="John Doe" aria-describedby="basicFullname2">
            </div>
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>

        <div class="col-sm-12 fv-plugins-icon-container">
            <label class="form-label" for="basicPost">Auditor</label>
            <div class="input-group input-group-merge has-validation">
                <span id="basicPost2" class="input-group-text"><i class='bx bxs-user'></i></span>

                <select class="form-select" asp-for="EditRoundCodeAssignmentVM.AuditorID">
                    <!--onclick="SelectChange()"-->
                    <option>Open this select menu</option>
                    @if (Model.EditRoundCodeAssignmentVM.auditors.Count > 0)
                    {
                        foreach (var item in Model.EditRoundCodeAssignmentVM.auditors)
                        {
                            <option value="@item.AuditorID">@item.NameAr</option>


                        }
                    }
                </select>
            </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>

        <div class="col-sm-12 fv-plugins-icon-container">
            <label class="form-label" for="basicDate"> Date</label>
            <div class="input-group input-group-merge has-validation">
                <span id="basicDate2" class="input-group-text"><i class='bx bxs-school'></i></span>
                <input class="form-control" type="date" asp-for="EditRoundCodeAssignmentVM.AssignmentDate" placeholder="MM/DD/YYYY">

            </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>
        <div class="col-sm-12 fv-plugins-icon-container">
            <label class="form-label" for="basicSalary">Conducted</label>
            <div class="input-group input-group-merge has-validation">
                <span id="basicSalary2" class="input-group-text"><i class='bx bxs-school'></i></span>
                <input type="number" asp-for="EditRoundCodeAssignmentVM.Conducted" class="form-control">
            </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1">Submit</button>
            <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas" onclick="closeFom()">Cancel</button>
        </div>
    </form>



</div>